        body {
            display: flex;
            flex-direction: column;
            min-height: 150vh;
            margin: 2;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        main {
            padding: 1rem;
            border-bottom: 5px solid red;
        }

        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
            border-bottom: 5px solid red;
        }

        nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }

        footer {
            text-align: center;
            padding: 1rem;
            border-bottom: 5px solid red;
        }